extends layout

block content
  h1.li5= title
  br
  a(href=numbertype.url +'/update' class='li5') Update Number Type
  br
  br
  a(href=numbertype.url + '/delete' class='li5') Delete Number Type
  br
  br
  p.footer Created By Alex Perez - 15 Years Old -
